:root {
	--primary-txt-color: #ffff;
}

h2 {
	color: #000;
	margin: 5px;
}

@media (max-width: 375px) {
	#not-mobile {
		display: none;
	}
}

@media (min-width: 376px) {
	#mobile {
		display: none;
	}
}
