h2 {
	margin: 5px;
	font-weight: 900;
}

/* logo */
#initials {
	color: #4cbaff;
}

.logo-initials {
	background-color: black;
	border: 3px solid #4cbaff;
	border-radius: 10px;
	width: 100px;
	height: 50px;
	font-weight: 500;
	z-index: 300;
	font-family: 'Russo One', sans-serif;
}

.logo-initials:hover {
	background-color: #1D1D1D;
}

.full-logo {
	color: white;
}

@media (max-width: 768px) {
	.full-logo {
		display: none;
	}
}

.center {
	display: flex;
}
