h2 {
	margin: 5px;
}

/* logo */
#initials {
	color: white;
	letter-spacing: 0.1px;
}

.logo-initials {
	background-color: #4e0859;
	width: 65px;
	height: 50px;
	font-weight: 900;
	z-index: 10;
	border: 2px solid white;
	font-family: 'Russo One', sans-serif;
}

.full-logo {
	color: white;
}

@media (max-width: 425px) {
	.full-logo {
		display: none;
	}
}

@media (min-width: 426px) {
}

.center {
	display: flex;
}
