.hero {
	background: black url('../../images/black_geo.jpg') center / cover;
}

.is-overlay {
	position: inline-block;
	/* margin-bottom: 30%;
	margin-top: 1vh; */
	margin-left: 20%;
	margin-right: 20%;
}

#about {
	font-size: 20px;
	margin: 10px 0 10px 0;
}
a.contacts-link {
	color: #4cbaff;
}

a.contacts-link:hover {
	color: #707270;
}

.welcome {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

#welcome {
	font-size: 50px;
	padding-top: 250px;
	font-family: Arial, Helvetica, sans-serif;
}

.fa-angle-down {
	font-size: 40px;
}

#main-btn {
	color: #002239;
	font-size: 30px;
}

#main-btn:hover {
	color: #002239;
	background-color: #b9bfc1;
	border-radius: 20px;
	border: 1px solid #d0d4d6;
}

hr.header-line {
	color: #4cbaff;
	height: 3px;
	background-color: #4cbaff;
	max-width: 400px;
}

@media (max-width: 768px) {
	.hero {
		background: black url('../../images/black_geo_tablet.jpg') center / cover;
	}

	#welcome {
		font-size: 33px;
	}

	.is-overlay {
		margin-left: 10%;
	}

	hr.header-line {
		max-width: 350px;
	}
}

@media (max-width: 425px) {
	.hero {
		background: black url('../../images/black_geo_mobile.jpg') center / cover;
	}

	#welcome {
		font-size: 30px;
	}

	.is-overlay {
		margin-left: 6%;
	}

	hr.header-line {
		max-width: 150px;
	}
}
