.hero {
	background: black url('../../images/black_geo.jpg') center / cover;
}

.is-overlay {
	/* padding-top: 20px; */
	display: inline-block;
	margin-left: 250px;
	margin-right: 20px;
}

.welcome {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

#welcome {
	font-size: 50px;
	padding-top: 250px;
	font-family: Arial, Helvetica, sans-serif;
}

.fa-angle-down {
	font-size: 40px;
}

#main-btn {
	color: #002239;
	font-size: 30px;
}

#main-btn:hover {
	color: #002239;
	background-color: #b9bfc1;
	border-radius: 20px;
	border: 1px solid #d0d4d6;
}

@media (max-width: 1024px) {
	.hero {
		background: black url('../../images/black_geo_tablet.jpg') center / cover;
	}

	#welcome {
		font-size: 60px;
	}

	.is-overlay {
		margin-left: 120px;
	}
}

@media (max-width: 768px) {
	.hero {
		background: black url('../../images/black_geo_mobile.jpg') center / cover;
	}

	#welcome {
		font-size: 50px;
	}

	.is-overlay {
		margin-left: 50px;
	}
}
