/* navbar */
.hero-head {
	background: transparent;
	position: fixed;
	height: 80px;
	width: 100%;
	z-index: 300;
}

/* columns */
.center,
.center-column,
.top,
.right,
.bottom,
.left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.column-right {
	display: flex;
}

/* navbar burger */
.navbar-burger {
	display: none;
}

.fa-bars {
	display: flex;
	color: white;
	font-size: 40px;
}

.center-column {
	flex-direction: column;
}

.top {
	align-items: flex-start;
}
.right {
	justify-content: flex-end;
}
.bottom {
	align-items: flex-end;
}
.left {
	justify-content: flex-start;
}

.single-spaced,
.single-spaced * {
	line-height: 1;
}

/*media queries */
@media (max-width: 1024px) {

}

@media (max-width: 768px) {
	.navbar-end {
		flex-direction: column;
		display: none;
	}
	.navbar-burger {
		align-self: flex-end;
  	display: initial;
  	position: absolute;
  	cursor: pointer;
	}
}
