.logo {
	position: fixed;
	float: left;
	margin: 10px;
	font-weight: bold;
	font-size: 30px;
}

.nav {
	position: fixed;
	width: 100%;
}

.nav ul {
	list-style: none;
	background: rgba(0, 0, 0, 0);
	overflow: hidden;
	padding: 0;
	text-align: center;
	margin: 0;
	transition: 1s;
}

.nav ul li {
	display: inline-block;
	padding: 20x;
}

.menu-icon {
	width: 100%;
	background: #000;
	text-align: right;
	box-sizing: border-box;
	cursor: pointer;
	display: none;
}

@media (max-width: 580px) {
	.logo {
		position: fixed;
		top: 0;
		margin-top: 16px;
	}
	nav ul {
	}
}
