#about {
	margin: 0 10px 0 10px;
}

#about-subtitle {
	color: white;
}

.about-text {
	color: white;
}

@media (max-width: 768px) {
	.about-text {
		margin: 20px;
		position: block;
		font-size: 18px;
	}
}
