.subtitle {
	color: white;
	font-family: 'Russo One', sans-serif;
}

.block {
	padding: 0 15px 0 15px;
}

.project-column {
	margin: 5px 0 5px 0;
}

#projects {
	margin-top: 100px;
}

.subtitle-box {
	margin-bottom: 40px;
	margin-top: 40px;
}

@media (max-width: 768px) {
}
