/* project card */
.project-card {
	background-color: black;
	border: 2px solid #0084d6;
	border-radius: 20px;
	padding: 30px;
	margin: 0 20vh 0 20vh;
}

.project-card:hover {
	box-shadow: 0 0 18px rgba(255, 255, 255, 0.5);
}

h3.subtitle {
	color: white;
}

h6.subtitle {
	color: white;
}

h6.subtitle {
	color: white;
}

/* project button */
.project-btn {
	background-color: black;
	color: #ffcf23;
	margin: 0 7px 0 0;
	border-radius: 1px solid #ffcf23;
}

.project-btn:hover {
	color: #ffcf23;
	border-radius: 1px solid #ffcf23;
	background-color: #1D1D1D;
}

/* github button */
.github-btn {
	background-color: black;
	color: #4cbaff;
	border-radius: 1px solid black;
	margin: 0 0 0 7px;
}

.github-btn:hover {
	border: 1px solid white;
	color: #4cbaff;
	background-color: #1D1D1D;
}

.tech-list {
	margin: 0 0 24px 5px;
	color: white;
	font-size: 20px;
}

/* media queries */
@media (max-width: 769px) {
	.project-card {
		padding: 30px;
		margin: 0 12vh 0 12vh;
	}
}

@media (max-width: 425px) {
	.project-card {
		padding: 30px;
		margin: 0 6vh 0 6vh;
	}
}
