/* project card */
.project-card {
	background-color: black;
	border: 3px solid #53215f;
	border-radius: 20px;
	padding: 30px;
	margin: 0 20vh 0 20vh;
}

.project-card:hover {
	box-shadow: 0 0 11px rgba(245, 255, 250, .5);
}

h3.subtitle {
	color: white;
}

h6.subtitle {
	color: white;
}

h6.subtitle {
	color: white;
}

/* project button */
.project-btn {
	background-color: black;
	color: #38ff52;
	margin: 0 7px 0 0;
	border-radius: 1px solid #38ff52;
}

.project-btn:hover {
	color: #38ff52;
	border-radius: 1px solid #38ff52;
	/* background-color: #e8e8e8; */
	box-shadow: 0 0 40px rgba(13, 219, 23, 0.5);
}

/* github button */
.github-btn {
	background-color: black;
	color: white;
	border-radius: 1px solid black;
	margin: 0 0 0 7px;
}

.github-btn:hover {
	background-color: #222729;
	color: white;
	border: 1px solid white;
	box-shadow: 0 0 11px rgba(245, 255, 250, .5);
}

/* media queries */
@media (max-width: 769px) {
	.project-card {
		padding: 30px;
		margin: 0 12vh 0 12vh;
	}
}

@media (max-width: 425px) {
	.project-card {
		padding: 30px;
		margin: 0 6vh 0 6vh;
	}
}
