/* project card */
.project-card {
	border: 1px solid #1d1d1c;
	border-radius: 20px;
	margin: 5px 0 5px 0;
	padding: 5px 5px 10px 5px;
}

.description-column {
	margin: 10px 0 0 0;
}

.project-card:hover {
	background-color: #1d1d1c;
}

h3.name {
	color: #4cbaff;
}

h6.subtitle {
	color: white;
}

h6.subtitle {
	color: white;
}

/* project button */
.project-btn {
	background-color: black;
	color: #ffcf23;
	margin: 0 7px 0 0;
	border-radius: 10px;
}

.project-btn:hover {
	color: #ffcf23;
	border-radius: 1px solid #ffcf23;
	background-color: #1d1d1d;
}

/* github button */
.github-btn {
	background-color: black;
	color: #4cbaff;
	border-radius: 10px;
	margin: 0 0 0 7px;
}

.github-btn:hover {
	color: #4cbaff;
	background-color: #1d1d1d;
}

.tech-list {
	margin: 0 0 24px 5px;
	color: white;
	font-size: 20px;
}

/* media queries */
@media (max-width: 769px) {
	.project-card {
		padding: 5px;
		margin: 0 10px 0 10px;
	}
}

@media (max-width: 425px) {
	.project-card {
		padding: 5px;
		margin: 0 6vh 0 6vh;
	}
}
