.project-card {
	background-color: #ececec;
	border: 1px solid #d3d3d3;
	padding: 30px;
	margin: 0 20vh 0 20vh;
}

@media (max-width: 769px) {
	.project-card {
		padding: 30px;
		margin: 0 12vh 0 12vh;
	}
}

@media (max-width: 425px) {
	.project-card {
		padding: 30px;
		margin: 0 6vh 0 6vh;
	}
}
