a.button {
	background: transparent;
	border: none;
	color: white;
	font-family: 'Russo One', sans-serif;
}

a.button:hover {
	background-color: #191919;
	color: #f9ca20;
	border: 1px solid #7c7c7c;
}
