a.button {
	background: transparent;
	border: none;
	color: white;
	font-family: 'Russo One', sans-serif;
}

a.button:hover {
	background-color: #191919;
	color: white;
	border: 1px solid #4cbaff;
	border-radius: 7px;
}
